<ion-view title="Install Page" id="page2">
    <ion-content padding="true" class="has-header">
        <h1 id="cameraTabDefaultPage-heading1" style="color:#000000;">Новости</h1>
          <ion-refresher
            pulling-text="Pull to refresh..."
            on-refresh="doRefresh()">
          </ion-refresher>
        <div style="position:relative;padding-bottom:56.25%;height:0;">
        data.json<sub>(новости на сервере)</sub>
        <ion-item href  ng-click="showBool = !showBool">Показать/Скрыть
        <span ng-show="showBool" class="ion-unlocked" data-pack="default" data-tags="padlock, security"></span>
        <span ng-hide="showBool" class="ion-locked" data-pack="default" data-tags="padlock, security"></span>
        <pre id="default-spacing"><br><div ng-show="showBool">{{ news | json }}</div></pre>
        </ion-item>    
        
        <div id="status" name="status">Status Message</div>
            <input type="text" placeholder="search" ng-model="firstName">
            <ion-list>
              <ion-item ng-repeat="var in DataNews |  filter:firstName">
                <b>{{ var.id }}) {{ var.name }}</b><br>
                <div style='padding-left: 20px;'>{{ var.text }}</div>
              </ion-item>
            </ion-list>
        </div>
    </ion-content>
</ion-view>