<ion-view title="Cart Tab Default Page" id="page3">
    <ion-content padding="true" class="has-header">
        <div class="button-bar">
            <button id="cartTabDefaultPage-button1" class="button button-positive  button-block">1</button>
            <button id="cartTabDefaultPage-button2" class="button button-positive  button-block">2</button>
            <button id="cartTabDefaultPage-button3" class="button button-positive  button-block">3</button>
        </div>
        <button id="cartTabDefaultPage-button4" class="button button-positive  button-block">Tap me!</button>
        <div>
            <p>
                Add some
                <b>HTML</b>for
                <u>flavor</u>
            </p>
        </div>
        <div>
            <img src="img/oLUYmQu2SwCWTfzveVBo_beffdf9917b2bd45cf606ee5a7b3a4e7.jpg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
    </ion-content>
</ion-view>