<ion-view title="Все новости" id="page3">
    <ion-content padding="true" class="has-header">
            <ion-list>
                <ion-item class="item item-icon-left" href="#">
                    <i class="icon ion-social-freebsd-devil"></i>
                    Все новости 
                    <span class="badge badge-royal"> <span ng-bind="DataNews.length"></span></span>
                </ion-item>

                <label class="item item-input">
                    <i class="icon ion-search placeholder-icon"></i>
                    <input type="search" placeholder="search" ng-model="firstName">
                </label>
                <div ng-repeat="var in DataNews |  filter:firstName">
                <a ui-sref="news({ newsId:var.id })">
                    <div class="item item-divider"><b> {{ var.name }}</b></div>
                    <ion-item>
                    <div style='padding-left: 20px;'>{{ var.text }}</div>
                    </ion-item>
                </a>
                </div>
            </ion-list>
        <!--<div class="button-bar">
            <button id="cartTabDefaultPage-button1" class="button button-positive  button-block">1</button>
            <button id="cartTabDefaultPage-button2" class="button button-positive  button-block">2</button>
            <button id="cartTabDefaultPage-button3" class="button button-positive  button-block">3</button>
        </div>
        <button id="cartTabDefaultPage-button4" class="button button-positive  button-block">Tap me!</button>
        <div>
            <p>
                Add some
                <b>HTML</b>for
                <u>flavor</u>
            </p>
        </div>
        <div>
            <img src="img/oLUYmQu2SwCWTfzveVBo_beffdf9917b2bd45cf606ee5a7b3a4e7.jpg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>-->
    </ion-content>
</ion-view>